net "MISO" LOC = "N10"| IOSTANDARD = LVCMOS33 ;
net "MOSI" LOC = "T4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6 ;
net "DRCK1" LOC= "U16"| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6 ;
net "CSB"  LOC = "U3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6 ;
